img {
  width: 80%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  position: fixed;
  top: 50%;
  right: 0;
  width: 49%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}


input[type="text"] {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 10px;
}

.title {
  position: absolute;
  top: -70%; 
  left: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media screen and (max-width: 800px) {
  img {
    width: 20%;
  }
}

@media screen and (max-width: 400px) {
  img {
    width: 40%;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 44%;
  overflow-y: scroll;
}

.grid-container {
  display: flex;
  width: 100%;
}

.empty-grid {
  width: 49%;
  float: left;
}

.row {
  display: flex;
}

.cell {
  flex: 1 0 11%;
  height: 0;
  padding-bottom: 11%;
  border: 1px solid black;
}

.image-container {
  position: relative;
}

.hovering-right-column {
  position: absolute;
  top: -70%; 
  left: 50%;
  background-color: rgba(235, 20, 20, 0.9);
  padding: 10px;
  z-index: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-pane {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  z-index: 1;
}

.filter-pane button {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
}
